.card-img-top {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 18rem;
  margin-bottom: 15px;
  border-radius: 10px; /* Redondear las esquinas de la tarjeta */
  overflow: hidden; /* Asegura que el contenido no sobresalga de la tarjeta */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
}
.card-body {
  flex-grow: 1;
  padding: 15px;
  background-color: #f9f9f9; /* Fondo suave para el contenido */
}
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #343a40; /* Color oscuro para los títulos */
  margin-bottom: 10px;
}
.card-text {
  font-size: 0.95rem;
  color: #6c757d; /* Color gris para los textos */
  line-height: 1.6;
}
.card-footer {
  background-color: #343a40;
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 0.875rem;
  border-top: 1px solid #eaeaea;
  border-radius: 0 0 10px 10px; /* Esquinas redondeadas en el pie */
}
.card:hover {
  transform: translateY(-5px); /* Efecto de elevación cuando pasa el mouse */
  transition: transform 0.2s ease-in-out;
}
.row-separator {
  margin-top: 30px;
}
.card-body p {
  margin-bottom: 10px; /* Separación entre el párrafo y los elementos debajo */
}

